[submodule "MemoryEngine"]
	path = MemoryEngine
	url = https://github.com/aparikh27/MemoryEngine
[submodule "agents"]
	path = agents
	url = https://github.com/aparikh27/agents.git
[submodule "edge"]
	path = edge
	url = https://github.com/aparikh27/edge.git
